@{
    ViewData["Title"] = "Access Denied";
    Layout = "_Layout"; // Make sure this matches your layout file name
}

<style>
    .container {
        text-align: center;
    }

    h1 {
        font-size: 6em;
        margin: 0;
        color: #f87171;
    }

    h2 {
        font-size: 3em;
        margin: 0;
        color: #f87171;
    }

    p {
        font-size: 1.5em;
        color: #4a5568;
    }
</style>
<div class="container">
    <h1>403</h1>
    <h2>Access Denied</h2>
    <p>Oops! You don't have permission to access this page.</p>
</div>


